.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    background: linear-gradient(90deg, #009295 32%,#17c9cd 100%);
}
.list_nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 40vw;

}
.list_ul li{
    color: #ebeeee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
} 
