<div class="container_Prod">
    <div class="container_Prod_child">

        <div class="card">
            <img src="../../assets/Capturar.svg" alt="Produto">
            <div class="description">
                <h2>Androides sonham com ovelhas elétricas?</h2>
                <ul>
                    <li>É um romance de ficção científica escrito pelo autor americano Philip K. Dick.</li>
                    <li>Androides Sonham com Ovelhas Elétricas?" é uma obra-prima da ficção científica que se passa em um futuro distópico, após uma guerra nuclear que devastou a Terra.</li>
                </ul>
            </div>
            <div class="price">
                R$ 99,99
            </div>
            <button class="buy-button">Comprar</button>
        </div>

        <div class="card">
            <img src="../../assets/sdfh.PNG" alt="Produto">
            <div class="description">
                <h2>Androides sonham com ovelhas elétricas?</h2>
                <ul>
                    <li>É um romance de ficção científica escrito pelo autor americano Philip K. Dick.</li>
                    <li>Androides Sonham com Ovelhas Elétricas?" é uma obra-prima da ficção científica que se passa em um futuro distópico, após uma guerra nuclear que devastou a Terra.</li>                </ul>
            </div>
            <div class="price">
                R$ 99,99
            </div>
            <button class="buy-button">Comprar</button>
        </div>

    </div>
</div>